/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  --header-height: 2.5rem;
  --nav-width: 68px;

  /*===== Colors =====*/
  --first-color: #4723D9;
  --first-color-light: #AFA5D9;
  --white-color: #F7F6FB;
  
  /*===== Font and typography =====*/
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
  overflow-x: hidden;
  background-color: #F9F6FD;
  
}

a{
  text-decoration: none;
}

/*===== HEADER =====*/
.header{
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: white;
  z-index: var(--z-fixed);
  transition: .5s;
  box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
}

.header__toggle{
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

.header__img{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header__img img{
  width: 40px;
}

/*===== NAV =====*/
.l-navbar{
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%); 
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo, .nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo{
  margin-bottom: 2rem;
}

.nav__logo-icon{
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav__logo-name{
  color: var(--white-color);
  font-weight: 700;
}

.nav__link{
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: .3s;
}

.nav__link:hover{
  color: var(--white-color);
}

.nav__icon{
  font-size: 1.25rem;
}

/*Show navbar movil*/
.show{
  left: 0;
}

/*Add padding body movil*/
.body-pd{
  padding-left: calc(var(--nav-width) + 1rem);
}

/*Active links*/
.active{
  color: var(--white-color);
}

.active::before{
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

.nav__logo-name {
    opacity: 1;
  }

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .header{
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header__img{
    width: 40px;
    height: 40px;
  }

  .header__img img{
    width: 45px;
  }

  .l-navbar{
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  
  /*Show navbar desktop*/
  .show{
    width: calc(var(--nav-width) + 156px);
  }

  /*Add padding body desktop*/
  .body-pd{
    padding-left: calc(var(--nav-width) + 188px);
  }
  .nav__logo-name{
    opacity: 0;
    transition: .3s;
  }
}

.student-details {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .student-details img {
    color:#FFFFFF;
    width: 100px;
    border-radius: 50%;
  }
  
  .student-details h3 {
    font-size: 22px;
  }


  
.logout-btn {
    /* float: right; */
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-right: 15px; /* Adjust margin as needed */
      }
    
    .logout-btn:hover {
        color: #0056b3;
      }
      .logout-link {
        text-decoration: none;
      }

.backbtn,
.nxtbtn {
  /* Add styling for buttons */
  padding: 10px 20px;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    &:before {
      content: '';
      /* // use the linear-gradient for the fading effect */
      /* // use a solid background color for a solid bar */
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;
  
      padding: 0 .5em;
      line-height: 1.5em;
      /* // this is really the only tricky part, you need to specify the background color of the container element... */
      color: #818078;
      background-color: #fcfcfa;
    }
  }

  .container{
    gap: 10px;
  }


  .left-aligned-content {
    text-align: left;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body 
{
	/* display: flex; */
	justify-content: center;
	/* align-items: center; */
	/* min-height: 100vh; */
	flex-direction: column;
	background: #F9F6FD;
}
.box 
{
	position: relative;
	width: 380px;
	height: 300px;
	background-color: #F9F6FD;
	border-radius: 8px;
	overflow: hidden;
}
.box::before 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 300px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#6923D0,#6923D0);
	animation: animate 6s linear infinite;
}
.box::after 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 300px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#6923D0,#6923D0);
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}
@keyframes animate 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
form 
{
	position: absolute;
	inset: 2px;
	background-color: #F9F6FD;
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
}
h2 
{
	color: #000000;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
}
.inputBox 
{
	position: relative;
	width: 300px;
	margin-top: 35px;
}
.inputBox input 
{
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: #23242a;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
}
.inputBox span 
{
	position: absolute;
	left: 0;
	padding: 20px 0px 10px;
	pointer-events: none;
	font-size: 1em;
	color: #8f8f8f;
	letter-spacing: 0.05em;
	transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span 
{
	color: #45f3ff;
	transform: translateX(0px) translateY(-34px);
	font-size: 0.75em;
}
.inputBox i 
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #45f3ff;
	border-radius: 4px;
	overflow: hidden;
	transition: 0.5s;
	pointer-events: none;
	z-index: 9;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i 
{
	height: 44px;
}
.links 
{
	display: flex;
	justify-content: space-between;
}
.links a 
{
	margin: 10px 0;
	font-size: 0.75em;
	color: #8f8f8f;
	text-decoration: beige;
}
.links a:hover, 
.links a:nth-child(2)
{
	color: #45f3ff;
}
input[type="submit"]
{
	border: none;
	outline: none;
	padding: 11px 25px;
	background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
	cursor: pointer;
	border-radius: 4px;
	font-weight: 600;
	width: 100px;
	margin-top: 10px;
    color: whitesmoke;
}
input[type="submit"]:active 
{
	opacity: 0.8;
}


.input-field {
    position: relative;
    margin-bottom: 20px; /* Adjust as needed */
  }
  
  /* Style for the label */
  .form-label {
    color: #333; /* Label text color */
    font-size: 16px; /* Label text size */
    margin-bottom: 5px; /* Adjust as needed */
    display: block;
  }
  
  /* Style for the select dropdown */
  select {
    width: 100%; /* Set the width to fill its container */
    padding: 10px; /* Adjust as needed */
    font-size: 16px; /* Dropdown text size */
    border: 1px solid #ccc; /* Dropdown border */
    border-radius: 5px; /* Dropdown border radius */
    background-color: #fff; /* Dropdown background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Dropdown shadow */
    /* appearance: none; Remove default arrow icon */
    /* -webkit-appearance: none; Remove default arrow icon for Safari */
    /* -moz-appearance: none; Remove default arrow icon for Firefox */
  }
  
  footer {
    /* background-color: linear-gradient(315deg, #2b4162 0%, #12100e 74%); */
    padding: 5px;
    text-align: center;
  }
  
  #clock {
    font-size: 20px;
    margin: 20px 0;
  }

/*===== MEDIA QUERIES=====*/
@media screen and (max-width: 767px) {
  .container form .fields {
    display: block; /* Display details vertically */
  }
  
  .container form .input-field {
    width: 100%; /* Set width to 100% for full width */
    margin-bottom: 20px; /* Add some spacing between details */
  }

  .button-container {
    display: block; /* Display buttons vertically */
    text-align: center; /* Center align buttons */
  }
  
  .backbtn,
  .nxtbtn {
    margin: 10px 0; /* Add some margin to separate buttons */
    width: 50%; /* Set width to 100% for full width */
  }
  footer {
    margin-top: 50px; /* Adjust as needed */
    width: 100%;
    background-color: #F9F6FD;
    padding: 10px 0;
    text-align: center;
  }
}