<!-- forgot_password.html -->

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Enter new password</title>{% endblock %}
    <link rel="stylesheet" href="{% static 'styles/password_set.css' %}">
    <link rel="icon" type="image/png" href='static/resources/favicon.png' />
</head>
<body>
    <div class="container">
        {% block content %}
            {% if validlink %}
                <h1 class="title">Set a New Password</h1>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.new_password1.label_tag }}
                        {{ form.new_password1 }}
                        {% if form.new_password1.errors %}
                            <small class="error">{{ form.new_password1.errors|join:", " }}</small>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.new_password2.label_tag }}
                        {{ form.new_password2 }}
                        {% if form.new_password2.errors %}
                            <small class="error">{{ form.new_password2.errors|join:", " }}</small>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn">Change Password</button>
                </form>
            {% else %}
                <p class="message">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
            {% endif %}
        {% endblock %}
    </div>
</body>
</html>
