{% comment %} {% block title %}Email Sent{% endblock %}

{% block content %}
  <h1>Check your inbox.</h1>
  <p> We've emailed you instructions for setting your password. You should receive the email shortly!</p>
{% endblock %} {% endcomment %}


<!DOCTYPE html>
  {% block content %}
  {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Sent</title>
    <link rel="stylesheet" href="{% static 'styles/password_reset.css' %}">
    <link rel="icon" type="image/png" href='static/resources/favicon.png' />
</head>
<body>
    <div class="container">
      <h1 style="color:green;">Email Sent</h1>
      <h1>Check your inbox.</h1>
      <p> We've emailed you instructions for setting your password. You should receive the email shortly!</p>
        
    </div>
</body>
{% endblock %}
</html>