<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset complete</title>
    <link rel="stylesheet" href="{% static 'styles/password_reset_complete.css' %}">
    <link rel="icon" type="image/png" href='static/resources/favicon.png' />
</head>
<body>
    <div class="container">
        <h1>Password reset complete</h1>
        <p>Your new password has been set. You can log in now on the <a href="{% url 'signin' %}">log in page</a>.</p>
    </div>
</body>
</html>
