<!DOCTYPE html>

<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{%static 'styles/signin.css'%}" />
    <link rel="icon" type="image/png" href='static/resources/favicon.png' />
    <title>Sign In</title>
  </head>

  <body>
    <div class="wrapper">
      <div class="main">
        <div class="row">
          <div class="side-image">
            <!--------Image-------->
            <img src="{% static 'resources/sideimage.jpeg' %}" alt="..." />
          </div>
          <div class="right">
            <form action="/signin" method="post" class="input-box">
              {% csrf_token %}
              <header>Account Login</header>
              <div class="input-field">
                <label for="email">Email</label>
                <input
                  type="email"
                  class="input"
                  name="email"
                  id="email"
                  required
                  autocomplete="off"
                />
              </div>
              <div class="input-field">
                <label for="password">Password <a href="{% url 'reset_password'%}">Forgot Password?</a></label>
                <input
                  type="password"
                  class="input"
                  name="password"
                  id="password"
                  required
                />
              </div>
              <div class="input-field">
                <input type="submit" class="submit" value="Sign In" />
              </div>
              {% if messages %} {% for message in messages %}
              <div class="alert alert-danger" role="alert">
                {{ message }}
              </div>
              {% endfor %} {% endif %}
              <div class="signin">
                <span
                  >Don't have an Account? <a href="/signup">Create Now</a></span
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>