<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <title>Admin - Applications [VJTI]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../static/styles/admin_application.css" />
  </head>
  <body>
    <div class="main-body">
      <div class="sidebar">
        <div class="sidebar-elements">
          <div class="college-logo">
            <img src="../../static/resources/vjti-logo.png" alt="vjti-logo" />
          </div>
          <div class="sidebar-buttons">
            <div class="route-buttons">
              <a href="admin_dashboard.html" class="button">
                <i class="bx bxs-widget"></i>
              </a>
              <a href="#" class="button">
                <i class="bx bxs-file"></i>
              </a>
              <a href="#" class="button">
                <i class="bx bx-folder"></i>
              </a>
              <a href="#" class="button">
                <i class="bx bx-user"></i>
              </a>
            </div>
          </div>
          <div class="student-details">
            <img
              src="../../static/resources/default-user-icon-8.jpg"
              alt="user-image"
            />
          </div>
        </div>
      </div>
      <div class="application">
        <h3>Applications</h3>
        <div class="application-window">
          <div class="application-record">
            <div class="header">
              <p>Application ID</p>
            </div>
            <div class="header">
              <p>Student Name</p>
            </div>
            <div class="header">
              <p>Course Name</p>
            </div>
            <div class="header">
              <p>Branch</p>
            </div>
            <div class="header">
              <p>Status</p>
            </div>
            <div class="header">
              <p>Actions</p>
            </div>
          </div>
          <div class="application-record">
            <div class="">
              <p>2215145110</p>
            </div>
            <div class="">
              <p>John Bravo</p>
            </div>
            <div class="">
              <p>B.Tech</p>
            </div>
            <div class="">
              <p>Mechanical</p>
            </div>
            <div class="status">
              <i class="bx bxs-circle pending"></i>
              <p>Pending</p>
            </div>
            <div class="actions">
              <a href="" class="view-form"
                ><i class="bx bx-link-external"></i
              ></a>
              <a href="" class="delete-form"><i class="bx bx-trash"></i></a>
            </div>
          </div>
          <div class="application-record">
            <div class="">
              <p>2215145110</p>
            </div>
            <div class="">
              <p>John Bravo</p>
            </div>
            <div class="">
              <p>B.Tech</p>
            </div>
            <div class="">
              <p>Mechanical</p>
            </div>
            <div class="status">
              <i class="bx bxs-circle approved"></i>
              <p>Approved</p>
            </div>
            <div class="actions">
              <a href="" class="view-form"
                ><i class="bx bx-link-external"></i
              ></a>
              <a href="" class="delete-form"><i class="bx bx-trash"></i></a>
            </div>
          </div>
          <div class="application-record">
            <div class="">
              <p>2215145110</p>
            </div>
            <div class="">
              <p>John Bravo</p>
            </div>
            <div class="">
              <p>B.Tech</p>
            </div>
            <div class="">
              <p>Mechanical</p>
            </div>
            <div class="status">
              <i class="bx bxs-circle pending"></i>
              <p>Pending</p>
            </div>
            <div class="actions">
              <a href="" class="view-form"
                ><i class="bx bx-link-external"></i
              ></a>
              <a href="" class="delete-form"><i class="bx bx-trash"></i></a>
            </div>
          </div>
          <div class="application-record">
            <div class="">
              <p>2215145110</p>
            </div>
            <div class="">
              <p>John Bravo</p>
            </div>
            <div class="">
              <p>B.Tech</p>
            </div>
            <div class="">
              <p>Mechanical</p>
            </div>
            <div class="status">
              <i class="bx bxs-circle remark"></i>
              <p>Remark</p>
            </div>
            <div class="actions">
              <a href="" class="view-form"
                ><i class="bx bx-link-external"></i
              ></a>
              <a href="" class="delete-form"><i class="bx bx-trash"></i></a>
            </div>
          </div>
          <div class="application-record">
            <div class="">
              <p>2215145110</p>
            </div>
            <div class="">
              <p>John Bravo</p>
            </div>
            <div class="">
              <p>B.Tech</p>
            </div>
            <div class="">
              <p>Mechanical</p>
            </div>
            <div class="status">
              <i class="bx bxs-circle rejected"></i>
              <p>Reject</p>
            </div>
            <div class="actions">
              <a href="" class="view-form"
                ><i class="bx bx-link-external"></i
              ></a>
              <a href="" class="delete-form"><i class="bx bx-trash"></i></a>
            </div>
          </div>
          <div class="application-record">
            <div class="">
              <p>2215145110</p>
            </div>
            <div class="">
              <p>John Bravo</p>
            </div>
            <div class="">
              <p>B.Tech</p>
            </div>
            <div class="">
              <p>Mechanical</p>
            </div>
            <div class="status">
              <i class="bx bxs-circle approved"></i>
              <p>Approved</p>
            </div>
            <div class="actions">
              <a href="" class="view-form"
                ><i class="bx bx-link-external"></i
              ></a>
              <a href="" class="delete-form"><i class="bx bx-trash"></i></a>
            </div>
          </div>
          <div class="application-record">
            <div class="">
              <p>2215145110</p>
            </div>
            <div class="">
              <p>John Bravo</p>
            </div>
            <div class="">
              <p>B.Tech</p>
            </div>
            <div class="">
              <p>Mechanical</p>
            </div>
            <div class="status">
              <i class="bx bxs-circle pending"></i>
              <p>Pending</p>
            </div>
            <div class="actions">
              <a href="" class="view-form"
                ><i class="bx bx-link-external"></i
              ></a>
              <a href="" class="delete-form"><i class="bx bx-trash"></i></a>
            </div>
          </div>
          <div class="application-record last-record">
            <div class="">
              <p>2215145110</p>
            </div>
            <div class="">
              <p>John Bravo</p>
            </div>
            <div class="">
              <p>B.Tech</p>
            </div>
            <div class="">
              <p>Mechanical</p>
            </div>
            <div class="status">
              <i class="bx bxs-circle pending"></i>
              <p>Pending</p>
            </div>
            <div class="actions">
              <a href="" class="view-form"
                ><i class="bx bx-link-external"></i
              ></a>
              <a href="" class="delete-form"><i class="bx bx-trash"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="" async defer></script>
  </body>
</html>
