<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>John Bravo - AMS [VJTI]</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="../../static/styles/admin_view_application.css"
    />
  </head>
  <body>
    <div class="main-body">
      <div class="sidebar">
        <div class="sidebar-elements">
          <div class="college-logo">
            <img src="../../static/resources/vjti-logo.png" alt="vjti-logo" />
          </div>
          <div class="sidebar-buttons">
            <div class="route-buttons">
              <a href="admin_dashboard.html" class="button">
                <i class="bx bxs-widget"></i>
              </a>
              <a href="#" class="button">
                <i class="bx bxs-file"></i>
              </a>
              <a href="#" class="button">
                <i class="bx bx-folder"></i>
              </a>
              <a href="#" class="button">
                <i class="bx bx-user"></i>
              </a>
            </div>
          </div>
          <div class="student-details">
            <img
              src="../../static/resources/default-user-icon-8.jpg"
              alt="user-image"
            />
          </div>
        </div>
      </div>
      <div class="application">
        <h3>Application Form [ID: 2215145110]</h3>
        <div class="application-form"></div>
      </div>
    </div>
    <script src="" async defer></script>
  </body>
</html>
